

//$(document).ready(function(){
//  $(".aha").click(function(){
//    $(".like").html("Hello <b>world!</b>");
//  });
//});


document.getElementById("like").innerHTML = "<span style='font-size: 1.5em; color: grey;'>" + 
            "<i class='fas fa-heart'></i>" + 
          "</span> Like";

//$( "#like" ).on( "click", function() {
//  
//  alert( "Hello ");
//});