 <%= link_to image_tag("icons/location.svg", 
        size: "25x25", style: "background-color: Transparent;" ), 
        sua_diadiem_path(@location.user, @location), remote: true, 
        data:{toggle:"modal", target:".hehe", turbolinks:"false"}  %>


<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">luanotes</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name">Luan Nguyen</h2>
      <a class="website">luanotes.com</a>
    </div>
  </div>
</div>

<div class="modal fade hehe" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="pet-show col-sm-12">
                
          </div>
        </div>
      </div>
    </div>