

<div id="msg">
</div>
<h1>Welcome#index</h1>
<p>test scaffold</p>

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-4">
			<p style="background-color: green;">test scaffold</p>
		</div>
		<div class="col-lg-9 col-md-8">
			<p style="background-color: grey;">test scaffold</p>
			<div class="">
				<div class="row">
					<div class="col-6 bg-success">dfdf
						<p class=" row bg-secondary">dsf</p>
					</div>
					<div class="col-6 bg-warning">qưẻqưẻ</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-4 bg-success">dfdf
						<p class=" bg-secondary">dsf</p>
					</div>
					<div class="col-8 bg-warning">qưẻqưẻ
						<div class="row">
							<div class="col-6 bg-light">dfdf
							</div>
							<div class="col-6 bg-primary">qưẻqưẻ</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content bg-transparent" style="border: none;">
      
      <div class="modal-body" style="padding: 0;">
      	
        <div class="row no-gutters justify-content-center">
        	<div class="col-lg-auto  align-self-center">
        		
        		<div class="">	
        			
        			<img src="https://images.unsplash.com/photo-1562051725-cc35a65c8227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"  class="img-fluid " style="max-height: 350px;">
        		</div>
        	</div>
        	<div class="col-lg-4 bg-white" >
	        	<div class="p-2 hid_scroll"  style="max-height: 350px; overflow-y: scroll; ">
	        		<img src="https://images.unsplash.com/photo-1562051725-cc35a65c8227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid dich-img" class="img-fluid">
	        		<img src="https://images.unsplash.com/photo-1562051725-cc35a65c8227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid dich-img" class="img-fluid">
	        		<img src="https://images.unsplash.com/photo-1562051725-cc35a65c8227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid dich-img" class="img-fluid">
	        		<img src="https://images.unsplash.com/photo-1562051725-cc35a65c8227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid dich-img" class="img-fluid">
	        		<img src="https://images.unsplash.com/photo-1562051725-cc35a65c8227?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid dich-img" class="img-fluid">
	        	</div>
        	</div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
