<%= form_with(model: @comment) do |f| %>
  <%= f.text_field :content %>
  <%= f.submit "create", class: "comment-submit" %>
<% end %>

<div id="msg">
</div>
<h1>Welcome#index</h1>
<p>test scaffold</p>

<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
  Tooltip on top
</button>
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-4">
			<p style="background-color: green;">test scaffold</p>
		</div>
		<div class="col-lg-9 col-md-8">
			<p style="background-color: grey;">test scaffold</p>
			<div class="">
				<div class="row">
					<div class="col-6 bg-success">dfdf
						<p class=" row bg-secondary">dsf</p>
					</div>
					<div class="col-6 bg-warning">qưẻqưẻ</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-4 bg-success">dfdf
						<p class=" bg-secondary">dsf</p>
					</div>
					<div class="col-8 bg-warning">qưẻqưẻ
						<div class="row">
							<div class="col-6 bg-light">dfdf
							</div>
							<div class="col-6 bg-primary">qưẻqưẻ</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

