

@import "_custom.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "posts.scss";
//@import "flickity/dist/flickity.css";

@import "actiontext.scss";
@import "trix/dist/trix.css";
@import "carousel.scss";
@import "star.scss";

@import "FontAwesome/fontawesome.scss";
@import "FontAwesome/light.scss";
@import "FontAwesome/regular.scss";
@import "FontAwesome/solid.scss";

//gem fw 
@import "users";
//$theme-colors: ( "bootstrap": #563d7c, "simpleform": #00617f );
//@import "simple_form-bootstrap/simple_form-bootstrap";

.btn-ein {
  border: 0px solid black;
  background-color: white;
  color: black;
  padding: 0.5em;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.grab {
  border-color: #F7F7F7;
  //color: #919191;
  color: #6c757d;
  border-radius: 500px;
  font-weight: 500;
}

.ein-active, .grab:hover {
  background-color: #F7F7F7;
  color: #00AD39;
  font-weight: 500; 
  border-radius: 500px;
  text-decoration: none;
}


.form-edit-user{
  .form-group, input{
    font-size: 14px;
    color: black;
  }
  input, textarea{
    border: 1px solid #efefef;
  }
  .col-form-label{
    //text-align: right;
    font-weight: 600;
  }
  .avatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  .username{
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 0;
  }
  .change-photo{
    color: #3897f0;
    text-decoration: none;
    font-size: 13px;
  }
  input[type='submit']{
    color: white;
  }
}

.close-button {
  position: absolute;
  
  /* don't need to go crazy with z-index here, just sits over .modal-guts */
  z-index: 1;
  
  top: 10px;
  
  /* needs to look OK with or without scrollbar */
  right: 20px;
  
  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}