<% posts.each do |post| %>
  <h3><%#= post.title %></h3>
  <p><%#= post.preparation %></p>
  <button class="btn-primary">
    <%#= post.flavor_list %>
  </button>
  <button class="btn-danger">
    <%#= post.category_list %>
  </button>
<% end %>