<div class="container">
    <div class="bg-white p-3 rounded-lg">
        <h5>New Post</h5>
        
        <%= render 'form', post: @post %>
        
        <%= link_to 'Back', posts_path %>
    </div>
</div>