.active{
    //background:red;
}
button.btn:active{
    background: green;
}

.btn.btn-grab {
  color: #fff;
  background-color: #8a458f;
  border-color: #8a458f;
}
.btn.btn-grab:hover {
  color: #fff;
  background-color: #703975;
  border-color: #69346c;
}
.btn.btn-grab:focus, .btn-grab.focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 57, 117, 0.5);
}
.btn.btn-grab.disabled, .btn-grab:disabled {
  color: #fff;
  background-color: #8a458f;
  border-color: #8a458f;
}
.btn.btn-grab:not(:disabled):not(.disabled):active,
.btn.btn-grab:not(:disabled):not(.disabled).active,
.show > .btn-grab.dropdown-toggle {
  color: #fff;
  background-color: #69346c;
  border-color: #613064;
}
.btn.btn-grab:not(:disabled):not(.disabled):active:focus,
.btn.btn-grab:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-grab.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(112, 57, 117, 0.5);
}