@import "custom.scss";
@import "bootstrap/scss/bootstrap";
@import "posts.scss";
//@import "flickity/dist/flickity.css";

@import "actiontext.scss";
@import "trix/dist/trix.css";
@import "carousel.scss";
@import "star.scss";
//@import "fontawesome.css";
//@import "light.css";
//@import "regular.css";
@import "FontAwesome/fontawesome.scss";
@import "FontAwesome/light.scss";
@import "FontAwesome/regular.scss";
@import "FontAwesome/solid.scss";


.btn-ein {
  border: 0px solid black;
  background-color: white;
  color: black;
  padding: 0.5em;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.grab {
  border-color: #F7F7F7;
  //color: #919191;
  color: #6c757d;
  border-radius: 500px;
  font-weight: 600;
}

.ein-active, .grab:hover {
  background-color: #F7F7F7;
  color: #00AD39;
  font-weight: 600; 
  border-radius: 500px;
  text-decoration: none;
}