
* { box-sizing: border-box; }

.carousel {
  //background: #EEE;
}
.main-carousel {
  .carousel-cell { 
  	width: 80%;


  }
  
  @media screen and ( min-width: 768px ) {
  /* half-width cells for larger devices */
  .carousel-cell { width: 40%; }
  }
}



.flickity-button:disabled {
  display: none;
}
